.internet-connection-message {
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 3px 0;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  font-size: 14px;
  font-family: 'SFProText-Regular';
  @include transition(all, 0.2s, linear);

  &.on {
    background-color: green;
    @include transform(translateY(25px));
  }

  &.off {
    background-color: $black;
    animation-name: show;
  }

  &.hideOnAfter3Sec {
    animation-name: hide;
    animation-delay: 3s;
  }

  @keyframes show {
    from {
      @include transform(translateY(25px));
    }

    to {
      @include transform(translateY(0));
    }
  }

  @keyframes hide {
    from {
      @include transform(translateY(0));
    }

    to {
      @include transform(translateY(25px));
    }
  }

  p {
    margin: 0;
    color: $white;
  }
}