.product-list {
  margin-top: 24px;

  > .infinite-scroll {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    @include align-content(flex-start);

    @include bp-small-mobile {
      @include justify-content(space-between);
    }
  }
}

.product-card {
  $space-bettween-elements: 15px;

  @include border-radius(3px);
  @include flexbox();
  @include flex-grow(1);
  @include transition(all, 0.2s, ease-in);
  @include flex-direction(column);
  position: relative;
  background-color: $white;
  padding: 8px 8px 16px;
  text-align: center;
  max-width: 169px;
  width: 100%;
  margin: 0 ($space-bettween-elements / 2) $space-bettween-elements;
  overflow: hidden;

  @include bp-big-tablet {
    max-width: calc(20% - 31px);
  }

  @include bp-tablet {
    max-width: calc(25% - 31px);
  }

  @include bp-mobile {
    max-width: calc(50% - 24px);

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-left: 0;
    }
  }

  &.active {
    @include box-shadow(0 0 4px 0 rgba(0,0,0,0.08));

    .product-cta {
      .add-to-cart-cta {
        display: none;
      }

      > .quantity-ctas {
        z-index: 1;
        opacity: 1;
        @include transform(translateY(0) scale(1));
      }
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .product-description {
    margin: 8px 0 12px;
    color: $black;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    font-family: 'SFProText-Regular';
    @include flexbox();
    @include flex-grow(1);
    @include justify-content(center);
  }

  .product-cost {
    margin-bottom: 16px;
    font-family: 'SFProText-Semibold';
    @include flexbox();
    @include flex-direction(row);
    @include align-items(flex-end);
    @include justify-content(center);

    .product-discount {
      display: inline-block;
      color: $black;
      font-size: 12px;
      text-decoration: line-through;
      margin: 0 6px 0 0;
    }

    .product-price {
      display: inline-block;
      font-size: 16px;
      color: $ezShop;
      margin: 0;
    }
  }

  .product-cta {
    margin-top: auto;
    height: 37px;

    .add-to-cart-cta {
      @include add-to-cart-cta($ezShop, $white);
      font-family: 'SFProText-Regular';
    }

    .quantity-ctas {
      max-width: 130px;
      height: 100%;
      margin: auto;
      z-index: -1;
      opacity: 0;
      @include transition(all, 0.4s, linear);
      @include flexbox();
      @include transform(translateY(70px) scale(0));
      @include justify-content(space-between);
      @include align-items(center);

      .subtract-one-cta {
        @include button-reset;

        &.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      p {
        margin: 0;
        color: $ezShop;
        font-family: 'SFProText-Semibold';
      }

      .add-one-cta {
        width: 32px;
        height: 32px;
        @include button-reset;

        img {
          display: none;
        }

        &:after {
          content: '+';
          background-color: $ezShop;
          width: 100%;
          height: 100%;
          color: $white;
          font-size: 12px;
          font-family: 'SFProText-Regular';
          @include flexbox();
          @include justify-content(center);
          @include flex-direction(row);
          @include align-items(center);
          @include border-radius(3px);
        }

        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }

  .skeleton {
    margin-bottom: 0;
    border: unset;
    padding: 16px 0 0;
  }
}