.skeleton {
  padding: 24px;
  border: 1px solid #ebedf0;
  background-color: $white;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;

  > div {
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #f2f2f2), color-stop(37%, #e6e6e6), color-stop(63%, #f2f2f2));
    background: -webkit-linear-gradient(left, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background-size: 400% 100%;
    height: 16px;
    margin-bottom: 16px;
    -webkit-animation: background-effect 1.4s ease infinite;
    animation: background-effect 1.4s ease infinite;

    @-webkit-keyframes background-effect {
      0% {
        background-position: 100% 50%
      }

      100% {
        background-position: 0 50%
      }
    }

    @keyframes background-effect {
      0% {
        background-position: 100% 50%
      }

      100% {
        background-position: 0 50%
      }
    }

    &.line1 {
      width: 38%;
    }

    &.line4 {
      width: 78%;
      margin-bottom: 0;
    }
  }
}