@mixin box-shadow($property) {
  box-shadow: $property;
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
}

@mixin box-shadow-multiple($property1, $property2) {
  box-shadow: $property1, $property2;
  -webkit-box-shadow: $property1, $property2;
  -moz-box-shadow: $property1, $property2;
}