@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin add-to-cart-cta($color, $background-color) {
  @include button-reset;
  @include transition(all, 0.1s, linear);
  @include border-radius(3px);
  background: $background-color;
  border: 1px solid $color;
  color: $color;
  text-align: center;
  font-size: 14px;
  padding: 9px 6px;
  max-width: 130px;
  width: 100%;

  @include bp-mobile {
    font-size: 13px;
  }

  &:hover {
    border: 1px solid darken($color, 20%);
    background-color: darken($color, 20%);
    color: $white;
  }
}