// Transform
@mixin transform($property) {
  -webkit-transform: $property; /* Safari */
  -moz-transform: $property; /* Firefox */
  -ms-transform: $property; /* Internet Explorer/Edge */
  -o-transform: $property; /* Opera */
  transform: $property; /* Non-prefixed version, Chrome */
}