// Transition
@mixin transition($property, $duration, $effect) {
  -webkit-transition: $property $duration $effect; /* Safari */
  -moz-transition: $property $duration $effect; /* Firefox */
  -o-transition: $property $duration $effect; /* Opera */
  transition: $property $duration $effect;  /* Non-prefixed version, Chrome */
}