// Colors
$white: #fff;
$black: #000;
$ezShop: #0070E0;
$ezShopLogo: #006DE3;
$backgroundColor: #f5f5f5;

// Containers sizes
$navbarContainer: 1400px;
$containerDesktop: 1200px;
$containerBigTablet: 960px;
$containerTablet: 720px;
$conatinerMobile: 540px;