.container {
  padding: 0 15px;
  max-width: $containerDesktop;
  margin: 0 auto;

  @include bp-big-tablet {
    max-width: $containerBigTablet;
  }

  @include bp-tablet {
    max-width: $containerTablet;
  }

  @include bp-mobile {
    max-width: $conatinerMobile;
  }
}