.navbar {
  background-color: $white;
  @include box-shadow-multiple(0 1px 3px 0 rgba(0,0,0,0.04), inset 0 -1px 0 0 rgba(0,0,0,0.12));
  padding: 14px 19px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  &-container {
    width: 100%;
    max-width: $navbarContainer;
    margin: 0 auto;

    .navbar-content {
      @include flexbox();
      @include flex-wrap(wrap);
      @include justify-content(space-between);

      .logo {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);

        img {
          margin-right: 8px;
        }

        p {
          margin: 0;
          font-size: 17px;
          color: $ezShopLogo;
          letter-spacing: -0.41px;
          font-family: 'SFProText-Regular';

          span {
            font-family: 'SFProText-Semibold';
          }
        }
      }

      .cart {
        position: relative;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);

        &-total-price {
          margin-right: 7px;

          p {
            font-size: 14px;
            color: $ezShop;
            letter-spacing: -0.34px;
            margin: 0;
            font-family: 'SFProText-Semibold';
          }
        }

        &-image {
          display: inline-block;
        }

        &-items-counter {
          background-color: $ezShop;
          border: 2px solid $white;
          width: 22px;
          height: 22px;
          text-align: center;
          position: absolute;
          top: -12px;
          right: -14px;
          @include border-radius(100%);
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);

          @include bp-mobile {
            width: 18px;
            height: 18px;
            top: -7px;
            right: -12px;
          }

          span {
            font-size: 8px;
            color: $white;
            font-family: 'SFProText-Bold';
            letter-spacing: -0.19px;
          }
        }
      }
    }
  }
}