body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  // -apple-system targets San Francisco in Safari (on Mac OS X and iOS), and it targets Neue Helvetica and Lucida Grande on older versions of Mac OS X. It properly selects between San Francisco Text and San Francisco Display depending on the text’s size.
  // system-ui represents the default UI font on a given platform.
  // BlinkMacSystemFont is the equivalent for Chrome on Mac OS X.
  // Segoe UI targets Windows and Windows Phone.
  // Roboto targets Android and newer Chrome OS. It is deliberately listed after Segoe UI so that if you’re an Android developer on Windows and have Roboto installed, Segoe UI will be used instead.
  background-color: $backgroundColor;

  @include bp-mobile {
    font-size: 14px;
  }
}