@font-face {
  font-family: 'SFProText-Regular';
  src: url('../fonts/SanFranciscoPro/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText-Semibold';
  src: url('../fonts/SanFranciscoPro/SF-Pro-Text-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText-Bold';
  src: url('../fonts/SanFranciscoPro/SF-Pro-Text-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.otf') format('opentype');
}

.product-title {
  padding: 0 7.5px;
  font-size: 24px;
  letter-spacing: 0;
  font-family: 'HelveticaNeue-Medium';
  margin: 0;

  @include bp-mobile {
    padding: 0;
  }
}